[submodule "3rdparty/pugixml"]
	path = 3rdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/svn2github/googletest.git
